@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    background-image: url("img/backkkkkk.jpeg");
background-size:cover;
background-repeat: no-repeat;
background-attachment: fixed;
height: 100%;
}
.container{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}


.nasr ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(242, 113, 113);
}
.nav .logo{  
    float: left;
    width: 25%;
}
.nav .logo img{
    
    height: 80px;
     width: 70px;
     float: left;
 }
.nav .logo h2{
    float: left;
    color: #ffffff;
    margin-bottom: 2%;
    margin-top: 20px;
}
  
  li {
    float: right;
    line-height: 50px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
   padding: 7px 13px;
   border-radius: 15px;
   text-transform: uppercase;
  }
  
  li a:hover {
    background-color: #e87a3e;
  }
  .active {
    background-color: #04AA6D;
  }
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(237, 172, 137);
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e8a562;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #e87a3e;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  
  

  footer{
    background-color: #24262b;
    padding: 70px 0;
    margin-top: 100%;
}
.footer-col{
   width: 25%;
   padding: 0 5px;
   
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #ec2557;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display:inline ;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
} 
.fab img{
  width: 41px;
 height: 41px;
  
}
ul{
  list-style: none;
}
li a:hover, .joining:hover .dropbtn {
  background-color:  #e87a3e
}

.joining{
  display: inline-block; 
}


  .joining-content{
     display: none;
    position: absolute;
    background-color: ;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .joining-content a:hover {background-color:#e8a562}
  
  .joining:hover .joining-content {
    display: block;
  }
  .header{

    width: 100%;
    height: 400px;
    margin-top: 0%;
    
  } 
  .header h1{
    text-align: center;
    color: white;
    font-size: 48px;
    width: 600px;
    border-radius: 6%;
    padding-top: 10%;
    padding-left: 10%;
  }  
  
  .Box1{
    margin-top: 20%;
      position: relative;
      color: black;
      float: left;
      width: 33.33%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
      max-width: 20%;
      margin: auto;
      text-align: center;
      font-family: arial;
      margin-right: 10%;
      margin-left: 10%;
  }
  .Box2{
    position: relative;
    color: black;
    float: left;
    width: 33.33%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 20%;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-right: 10%;
    padding: auto;
  }
  .Box3{
    position: relative;
    color: black;
    float: left;
    width: 33.33%;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    max-width: 20%;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-right: 10%;
    padding: auto;
  }
  
  
  .image{
    display: block;
    width: 100%;
    height: auto;
  }
  .overlay{
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 15px;
    padding: 10px;
    text-align: center;
  }
  .Box1:hover .overlay{
    opacity: 1;
  }
  .Box2:hover .overlay{
    opacity: 1;
  }
  .Box3:hover .overlay{
    opacity: 1;
  }
  .pics::after{
    content: "";
    clear: both;
    display: table;
  }
  .title h2{
    color: #ffffff;
    margin-right: 0%;
    text-align: center;
  }
  .title h1{
    color: #ffffff;
    margin-right: 0%;
    text-align: center;
  }
  .main{
    margin: auto;
    
  }
  .main h1{
    text-align: center;
    color: rgb(53, 53, 53);
    font-size: 30px;
    
  }
