
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&family=Sen:wght@400;800&display=swap');

*{ 
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Sen', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
 /* 
  rgb(206, 136,48)
  */

header{
	background-color: black;
	width: 100%;
	
	z-index: 999;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 200px;
}


.nasr ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(242, 113, 113);
}
  .nav .logo{  
    float: left;
    width: 25%;
}
.nav .logo img{
    
    height: 80px;
     width: 70px;
     float: left;
 }
.nav .logo h2{
    float: left;
    color: #ffffff;
    margin-bottom: 2%;
    margin-top: 20px;
}
  
  li {
    float: right;
    line-height: 50px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
   padding: 7px 13px;
   border-radius: 15px;
   text-transform: uppercase;
  }
  
  li a:hover {
    background-color: rgb(89, 82, 82);
  }
  .active {
    background-color: #04AA6D;
  }
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(239, 213, 213);
  }
  
  li.dropdown {
    display: inline-block;
	
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #685858;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 5px;
   
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #ec2557;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display:inline ;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
} 
.fab img{
  width: 41px;
 height: 41px;
  
}
ul{
  list-style: none;
}


.logo{
	text-decoration: none;
	color: gold;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.8em;
}

.secton{
	padding: 30px 20px;
}

.cards{
	background-color: black;
}

.main{
	padding: 100px 50px 5px 50px;
	width: 100%;
	min-height: 50vh;
	display: flex;
	align-items: center;
    background-color: black
    
}

.main h2{
	display: inline-block;
	margin-top: 10px;
	color: gold;
    font-size: 3em;
    font-weight: 600;
}



.main h3{
	color: white;
	font-size: 2em;
	font-weight: 700;
	letter-spacing: 1px;
	margin-top: 5px;
	margin-bottom: 30px;
}

.title{
	display: flex;
	justify-content: center;
	color: Gold;
	font-size:2.2em;
	font-weight: 800;
	margin-bottom: 30px;
	
}

.Content{
	background-color: black;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;	
}

.card{
	background-color: gray;
	width: 98%;
    box-shadow:	0 5px 25px rgba(1 1 1/ 15%);
	border-radius: 10px;
	padding: 25px;
	margin: 15px;
    transition: 0.7s ease;	
	display: flex;
}


.icon:hover{
	transform: scale(1.1);
}

.info{
	margin: auto;
	padding-left: 10px;
}
	
.info h3{
	text-align: left; 
	color: black;
	font-size: 2em;
	font-weight: 700;
	margin: 35px 10px 10px 10px;
}

.info p{
	text-align: left;
	color: white;
	padding-left: 5px;
	margin-top: 5px;
	font-size: 1.5em;
}

.info pre{
	padding-left: 5px;
	font-weight: bold;
}



.main h4{
	margin: 20px;
}

html::-webkit-scrollbar {
	width: 0.5rem;
	background: white;
}
html::-webkit-scrollbar-thumb{
	background: gold;
	border-radius: 5rem;
}

.cast-scroll img{
	border-radius: 50%
}
	


 

	