*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url("backkkkkk.jpeg");
background-size:cover;
background-repeat: no-repeat;
background-attachment: fixed;
height: 100%;
}


 .main{
    width: 75%;
    margin: auto; /*sets it to the middle */
    background-color: white;
 }
 .double{
     color: rgb(106, 173, 196);
     text-align: middle;
 }

